
## <summary>policy for neurai</summary>


########################################
## <summary>
##	Transition to neurai.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`neurai_domtrans',`
	gen_require(`
		type neurai_t, neurai_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, neurai_exec_t, neurai_t)
')


########################################
## <summary>
##	Execute neurai server in the neurai domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neurai_initrc_domtrans',`
	gen_require(`
		type neurai_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, neurai_initrc_exec_t)
')


########################################
## <summary>
##	Search neurai lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neurai_search_lib',`
	gen_require(`
		type neurai_var_lib_t;
	')

	allow $1 neurai_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read neurai lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neurai_read_lib_files',`
	gen_require(`
		type neurai_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, neurai_var_lib_t, neurai_var_lib_t)
')

########################################
## <summary>
##	Manage neurai lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neurai_manage_lib_files',`
	gen_require(`
		type neurai_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, neurai_var_lib_t, neurai_var_lib_t)
')

########################################
## <summary>
##	Manage neurai lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`neurai_manage_lib_dirs',`
	gen_require(`
		type neurai_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, neurai_var_lib_t, neurai_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a neurai environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`neurai_admin',`
	gen_require(`
		type neurai_t;
		type neurai_initrc_exec_t;
		type neurai_var_lib_t;
	')

	allow $1 neurai_t:process { ptrace signal_perms };
	ps_process_pattern($1, neurai_t)

	neurai_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 neurai_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, neurai_var_lib_t)

')

